<ion-view title="" id="eventos" cache-view="false">
  <ion-content padding="false" scroll="false" >
  <style>
  .top-container2{
    height: 100%; 
    overflow:scroll;
}


  </style>
    <div class="" >

      <ion-list >
        <div>
          
          <a class="item item-icon-left item-avatar"  ng-click="ruta(evento)" id="page-list-item1" ng-repeat="evento in eventos" >
          <img src="img/calendar1.png">
          <h2 style="display: inline-block;">{{evento.nombre}}</h2><p style="display: inline-block;">&nbsp; {{evento.fecha}}</p>
          <p>Inscritos: {{evento.inscritos}} Capacidad: {{evento.capacidad}}</p>
          <span class="badge badge-balanced" ng-show="evento.estado" ><i class="ion-checkmark-round"></i></span>
          <span class="badge badge-positive" ng-show="!evento.estado" class="ng-hide">Nuevo</span> 
        </a>
        </div>
        
        
      </ion-list>
    </div>
  </ion-content>
</ion-view>