<style>
.popup {
  border-radius: 20px 20px 20px 20px !important;
}
.popup button {
  border-radius: 30px 30px 30px 30px !important;
}
</style>
<ion-view title="" id="login">
  <ion-content padding="false" scroll="false" style="background: #c9d8f2; background-size:cover;">


    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="page-slider1" style="width:100%;height:100%">
      <ion-slide-page id="page-slide24" style="background: #c9d8f2; no-repeat center; padding:15px;">
        <center><img src="img/Logo.png" style="width:100%; margin-top:25%"></center>
      </ion-slide-page>
      <ion-slide-page id="page-slide24" style="background: rgb(255,173,31); no-repeat center; padding:15px;">
        <center><img src="img/firebase1.png" style="width:90%; margin-top:35%"></center>
        <center><h3 style="color:white;">Plataforma web</h3></center>
        <p style="color:white;">Usa la <b>plataforma web</b> para entrar a tu cuenta y poder ver las tablas de resultados de todas las competencias en las que has participado, así como los próximos eventos.</p>
      </ion-slide-page>

      <ion-slide-page id="page-slide25" style="background: rgb(136,106,234); no-repeat center;background-size:cover; padding:15px;">
        <center><img src="img/firebase2.png" style="width:80%; margin-top:25%"></center>
        <center><h3 style="color:white;">Competencia en tiempo real</h3></center>
        <p style="color:white;">Participarás en <b>competencias en tiempo real</b> compitiendo contra tus compañeros y profesores para descubrir quién tiene más aciertos en un determinado tiempo.</p>
      </ion-slide-page>
      <ion-slide-page id="page-slide26" style="background: url(img/Fondo-Login.png) no-repeat center;background-size:cover;">
        <div style="padding-left:10px;padding-right:10px;">
        <form id="page-form1" class="list" style="background-color:transparent;margin-top:25px;" name="myForm">
        <label class="item item-input item-floating-label" style="border-radius:10px 10px 0px 0px; background-color: rgba(0,0,0,0.4);border-color:transparent;" id="page-input1" name="correo" ng-model="data.username">
            <input style="color:#FFF;font-weight:300;opacity:0.7;" type="email" placeholder="Correo Electrónico" ng-model="data.username">
          </label> 
          <label class="item item-input item-floating-label" style="border-radius:0px 0px 10px 10px;background-color: rgba(0,0,0,0.4);border-color:transparent;" id="page-input2" name="pass" >
            <input style="color:#FFF;font-weight:300;opacity:0.8;" type="password" placeholder="Contraseña" ng-model="data.password">
          </label>
        </form>
        <button id="page-button1" class="button button-block" style="color:#000000;font-weight:300;background-color: rgba(255,255,255,0.4);border-radius:30px 30px 30px 30px;border-color:transparent;" ng-click="loginEmail()">Iniciar Sesión</button>
        <button id="page-button2" class="button button-light  button-block button-outline" style="font-weight:300;background-color: rgba(0,0,0,0.4);border-radius:30px 30px 30px 30px;border-color:transparent;" ng-click="irRegistro()">Regístrate</button>
        <button id="page-button3" class="button button-light  button-block button-clear" style="font-weight:300;">¿Olvidaste tu contraseña?</button> 
        <!--<button id="page-button4" style="font-weight:300;" class="button button-positive  button-block icon-left ion-social-facebook" ng-click="loginFacebook()">Iniciar Sesión con Facebook</button> -->
        </div>
      </ion-slide-page>
    </ion-slides>

    
  </ion-content>
</ion-view>