<style>

  .item-complex {
    
    border-color:#EF473A;
  }


  .item-complex .item-content {
    background-color: #EF473A;
    color:#FFF;

  }

  .item-complex .item-content.activated{
    background: rgba(255,255,255,0.3);
  }
  .active-page-highlight .item-content{

    background: rgba(255,255,255,0.3);
  }
</style>
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    
    <ion-content style="background-color:#EF473A;">
    <center><img src="img/user4.png" style="width:130px; height:130px; border-radius:50%; margin-top:50px; margin-bottom: -15px; border:4px solid rgba(255,255,255,0.4);"></center>
    <h3 style="font-weight:300; color:#FFF; text-align:center;">{{data.firebaseUser.displayname}}</h3>
    <p style="font-weight:300; color:rgba(255,255,255,0.8); text-align:center; margin-bottom:25px;">{{data.firebaseUser.email}}</p>
      <ion-list>

        <ion-item class="item-icon-left "  style="background-color:#EF473A; "  menu-close href="#/menu/inicio">
        <i class="icon ion-home" ></i>
          Inicio
        </ion-item>
        <ion-item  class="item-icon-left "  style="background-color:#EF473A; " menu-close href="#/menu/jugar">
        <i class="icon ion-ios-game-controller-a" ></i>
          Jugar
        </ion-item>
        <ion-item  class="item-icon-left "  style="background-color:#EF473A; " menu-close href="#/menu/eventos">
        <i class="icon ion-ios-calendar" ></i>
          Eventos
        </ion-item>
         <ion-item class="item-icon-left "  style="background-color:#EF473A; " menu-close href="#/menu/chat">
         <i class="icon ion-chatbubbles" ></i>
          Chat
        </ion-item>
        <ion-item class="item-icon-left " style="background-color:#EF473A; " menu-close href="#/menu/perfil">
        <i class="icon ion-person" ></i>
          Perfil
        </ion-item>
        <ion-item class="item-icon-left " style="background-color:#EF473A; " menu-close href="#/menu/score">
        <i class="icon ion-arrow-graph-up-right" ></i>
          Puntuaciones
        </ion-item>
        <ion-item class="item-icon-left " style="background-color:#EF473A; " menu-close href="" ng-click="logOut()">
        <i class="icon ion-log-out" ></i>
          Cerrar Sesión
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
